<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left ">

      <!-- Grid row -->
      <div class="row">
          
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <br>
          <img src="assets/images/motivation.png" href="#" width="555" height="220">
          <p></p>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <br>
            <h5 class="text">Quick Links</h5>

            <ul class="list-unstyled">
              <br>
                <li>
                    <a href="https://www.nineleaps.com/">Home</a>
                  </li>
              <li>
                <a href="https://www.nineleaps.com/work/">Work</a>
              </li>
              <li>
                <a href="https://www.nineleaps.com/company/">Company</a>
              </li>
              <li>
                <a href="https://www.nineleaps.com/careers/">Careers</a>
              </li>
              <li>
                <a href="https://www.nineleaps.com/technology/">Insights</a>
              </li>
              <li>
                  <a href="https://www.nineleaps.com/contact/">Contact us</a>
                </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <br>

            <ul class="list-unstyled">
              <li>
                  <a href="https://www.facebook.com/nineleaps/?ref=aymt_homepage_panel">
                
                <img src="assets/images/fb.png" href="https://google.com" width="45">
              </a>
              </li>
              <li>
                  <a href="https://google.com">
                  
                  <img src="assets/images/insta.png" href="#" width="45">
                </a></li>
              <li>
                  <a href="https://www.linkedin.com/company/nineleaps/">
                
                <img src="assets/images/linkedln.png" href="#" width="45">
                </a></li>
              <li>
                  <a href="https://plus.google.com/u/0/+Nineleaps">
                
                <img src="assets/images/google.png" href="#" width="45">
                </a></li>
              <li>
                <a href="https://twitter.com/nineleaps">
                  <img src="assets/images/twitter.png"  width="45">
                </a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      
      Privacy Policy
      <a href="https://www.nineleaps.com/"> © 2019 Nineleaps</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  