#container {
    width: 100%;
    margin: 5em auto;
    padding: 0;
    background:#fff;
}

.items {
    width: 200%;
    
    height:300px;
    background:#ECECEC;
    margin-left: 0;
    margin-right: 0;
    }

#left, #right { 
    margin: 30px;
}